.text-white {
    color: white;
}
.text-white:hover {
    color: grey;
}
.x_panel {
    width: 86.3%;
    float: right;
}

@media (min-width: 0px) and (max-width: 991px) {
    .x_panel {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1430px) {
    .x_panel {
        width: 83.7%;
    }
}

@media (max-width: 768px) {
    .col-md-3.left_col {
      width: 100%; /* Make the sidebar full width for smaller screens */
    }

    .right_content {
      margin-left: 0; /* Remove margin for smaller screens */
    }
  }
