.text-white {
    color: white;
}
.text-white:hover {
    color: grey;
}
.x_panel {
    width: 86.3%;
    float: right;
}

@media (min-width: 0px) and (max-width: 991px) {
    .x_panel {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1430px) {
    .x_panel {
        width: 83.7%;
    }
}
